---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Home from '../components/sections/Home.astro';
import Portfolio from '../components/sections/Portfolio.astro';
import Services from '../components/sections/Services.astro';
import Activate from '../components/sections/Activate.astro';
import About from '../components/sections/About.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="Movimark" description="Tu mejor opción para hacer publicidad móvil">
	<Header />
	<main>
		<Home />
		<Portfolio />
		<Services />
		<Activate />
		<About />
		<Contact />
	</main>
</Layout>

<style>
	
</style>
