<header class="header">
  <img src="/logo.svg" class="logo" alt="Logo de la empresa" />
  <nav class="nav-links">
    <a href="#inicio" class="link">Inicio</a>
    <a href="#servicios" class="link">Servicios</a>
    <a href="#nosotros" class="link">Nosotros</a>
    <a href="#contacto" class="link">Contacto</a>
  </nav>
  <nav class="social">
    <a href="https://www.instagram.com/movimark/" class="link social-link" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <img src="/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://web.facebook.com/movimark.s.a/" class="link social-link" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <img src="/facebook.svg" alt="Facebook" />
    </a>
    <a href="https://wa.me/573174318887" class="link social-link" target="_blank" rel="noopener noreferrer" aria-label="Whatsapp">
      <img src="/whatsapp.svg" alt="Whatsapp" />
    </a>
  </nav>
  <button class="menu-button" id="menu-toggle" aria-label="Abrir menú">
    <svg  
      xmlns="http://www.w3.org/2000/svg"
      width="24" 
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
        <path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
    </svg>
  </butto>
</header>

<style>
  .header {
    position: sticky;
    top: 20px;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground);
    background-color: #00000062;
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(4px);
    z-index: 1000;
    border: 1px solid var(--secondary)
  }
  .nav-links {
    display: flex;
    gap: 0.5rem;
  }
  .link {
    color: var(--foreground);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .link:hover {
    background-color: var(--secondary);
  }
  .logo {
    width: 146px;
    height: 40px;
  }
  .social {
    display: flex;
    gap: 0.5rem;
  }
  .social-link img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .menu-button {
    display: none;
    color: var(--foreground);
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .menu-button svg {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 1024px) {
    .social {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .header {
      position: fixed;
      width: 100%;
      top: 0;
      padding-left: 1rem;
      max-width: 100%;
      backdrop-filter: blur(0);
      border: none;
      border-radius: 0;
    }
    .logo {
      display: none;
    }
    .nav-links {
      display: none;
    }
    .menu-button {
      display: block;
      width: 40px;
    }
    .active { 
      background-color: black;
    }
    .active > .nav-links {
      position: fixed;
      display: flex;
      width: 100%;
      height: calc(100vh - 76px);
      flex-direction: column;
      align-items: center;
      top: 76px;
      right: 0;
      background-color: #000000;
      border-radius: 0 0 15px 15px;
      padding: 1rem;
      gap: 0.5rem;
    }
  }
</style>

<script>
  const menuToggle = document.getElementById('menu-toggle') as HTMLButtonElement;
  const header = document.querySelector('.header') as HTMLDivElement;
  const links = document.querySelectorAll('.link') as NodeListOf<HTMLAnchorElement>;

  menuToggle.addEventListener('click', () => {
    header.classList.toggle('active');
  });

  links.forEach(link => {
    link.addEventListener('click', () => {
      header.classList.remove('active');
    });
  });
</script>