---
import '@fontsource/pt-sans';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary: #E65917;
		--primary-light: #e65917cf;
		--secondary: #95959516;
		--secondary-light: #95959532;
		--background: #020101;
		--foreground: #ffffff;
	}
	html {
		font-family: 'PT sans', system-ui, sans-serif;
		background: var(--background);
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
	}

	@keyframes show {
		from {
			opacity: 0;
			scale: 10%;
		}
		to {
			opacity: 1;
			scale: 100%;
		}
	}
		

	.animated {
		view-timeline-name: --reveal;

		animation-name: show;
		animation-fill-mode: both;

		animation-timeline: --reveal;
		animation-range: entry 25% cover 50%;
	}
</style>
